* {
    /* Resetando os dados das margens da página */
    margin: 0;
    padding: 0;

    /* Definindo o padrão global da fonte */
    font-family: "Fira Sans", sans-serif;
    letter-spacing: 1.6px;
}

h1 {
    display: ;
    font-size: none;
    margin-block-start: none;
    margin-block-end: none;
    margin-inline-start: none;
    margin-inline-end: none;
    font-weight: none;
}