* {
    /* Resetando os dados das margens da página */
    margin: 0;
    padding: 0;

    /* Definindo o padrão global da fonte */
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    letter-spacing: 1.6px;
}